<!DOCTYPE html>
<html>
<head>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  #drop-zone {
  width: 600px;
  height: 100px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed #aaa;
  border-radius: 20px;
  font-family: sans-serif;
}
</style>
</head>
<body>

<div class="container">
  <h1 class="my-4">Drag and Drop Software Vendor Quote For Conversion into Excel with AI</h1>

  <div id="drop_zone" class="border border-secondary rounded p-4 mb-4" style="width:600px; height:100px; box-shadow: 5px 10px 8px 10px #888888;">
    Drop files here
  </div>

  <div class="form-group">
    <label for="jobid">Job ID:</label>
    <input type="text" class="form-control" id="jobid" value="" placeholder="Enter job id">
    <input type="text" class="form-control" id="filenameid" value="filename" onclick="showDown();" placeholder="Enter filename">
  </div>

  <p id="upload_info"></p>

  <!-- Loading spinner -->
  <div id="loading" style="display: none;">
    <img width="100px" src="/static/spinner.gif" alt="Loading..." />
  </div>
</div>

<script>
// Generate a random job id
document.getElementById("jobid").value = Math.random().toString(36).substring(2, 15);

document.getElementById("drop_zone").addEventListener("dragover", function(event) {
  event.preventDefault();
}, false);

document.getElementById("drop_zone").addEventListener("drop", function(event) {
  event.preventDefault();
  if (event.dataTransfer.items) {
    for (var i = 0; i < event.dataTransfer.items.length; i++) {
      if (event.dataTransfer.items[i].kind === 'file') {
        var file = event.dataTransfer.items[i].getAsFile();
        uploadFile(file);
      }
    }
  }
}, false);


function downloadFile(name, strJobid){
var jobval = document.getElementById("jobid").value
name = name.trim();
fetch('/extract_data/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({query: name, jobid: strJobid}) // replace with your actual data
})
.then(response => response.blob())
.then(blob => {
  // Create an object URL for the blob
  const url = window.URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = url;

  // the filename you want
  a.download = 'downloadInspireQuote.xlsx'; // replace with your actual file name and extension

  document.body.appendChild(a);
  a.click();

  // cleanup
  window.URL.revokeObjectURL(url);
  document.body.removeChild(a);
})
.catch((error) => {
   console.error('Error:', error);
   document.getElementById("upload_info").innerHTML = '<p style="color: red;">Error'+error+' </p>';

});

}

function showDown(){
 document.getElementById("upload_info").innerHTML='';
 var jobname = document.getElementById("jobid").value;

  var filenameElem = document.getElementById("filenameid").value;
var data = {
  "filename": filenameElem,
  "job": jobname
};
 document.getElementById("upload_info").innerHTML = '<p>Filename: ' + data.filename + ", Job ID: " + data.job+"</p> <ul><li>    <button onclick=\"downloadFile("+"\'"+data.filename+"\'" +",\'" +data.job+'\');\">Download File</button></li></ul>';

}

function uploadFile(file) {
  var formData = new FormData();

  // Get job id from input box
  var jobid = document.getElementById("jobid").value;

  formData.append("jobid", jobid);
  formData.append("file", file);

  // Show loading spinner
  document.getElementById("loading").style.display = "block";

  fetch('ingest/upload/', { // replace with your actual endpoint
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    // Hide loading spinner
    document.getElementById("loading").style.display = "none";
    document.getElementById("filenameid").value = file.name;
    showDown();
  })
  .catch(error => {
    // Hide loading spinner
    document.getElementById("loading").style.display = "none";

    console.error('Error:', error)
  });
}
</script>

</body>
</html>
