<!DOCTYPE html>
<html>
<head>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  #drop-zone {
  width: 600px;
  height: 100px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed #aaa;
  border-radius: 20px;
  font-family: sans-serif;
}
</style>

</head>
<body>

<div class="container">
  <h3 class="my-4">Drag and Drop Software Vendor Quote</h3>
      <button class="btn btn-warning rounded-4" onClick="window.location.reload();">New Quote</button>
    <h6>Conversion into Excel with AI</h6>

  <div id="drop_zone" class="border border-secondary rounded p-4 mb-4" style="width:800px; height:300px; box-shadow: 5px 10px 8px 10px #888888;">
    Drop files here
  </div>

  <div class="form-group">
    <label for="jobid">Job ID:</label>
    <input type="text" class="form-control" id="jobid" value="" placeholder="Enter job id">
    <input type="text" class="form-control" id="filenameid" value="filename" onclick="showDown();" placeholder="Enter filename">
    <label for="perpagecheck">Process Each Page Separately * </label><input type="checkbox" class="form-control-sm" id="perpagecheck" value="filename" onclick="showDown();" placeholder="Process per Page" alt="Process Per Page" >
<br>*(If quotes missing try toggling this option to ON or OFF. When unticked all the pages will be processed in one go, may throw error but be more accurate)
  </div>

<div class="container" id="upload_info" style="display: none;">
    <p>Filename: <span id="filename"></span>, Job ID: <span id="job"></span></p>
    <ul>
        <li>
            <button id="downloadbut" class="btn btn-primary rounded-4" onclick="downloadFile(data.filename, data.job)">
                Download Excel File
            </button>
        </li>
        <li>
            <button class="btn btn-success rounded-4" onclick="gotoqchat()">
                Query Document
            </button>
        </li>
    </ul>
</div>

  <!-- Loading spinner -->
  <div id="loading" style="display: none;">
    <img width="100px" src="/static/spinner.gif" alt="Loading..." />
  </div>
</div>

<script>

 var jobname = document.getElementById("jobid").value;

  var filenameElem = document.getElementById("filenameid").value;
var data = {
  "filename": filenameElem,
  "job": jobname
};
// Generate a random job id
document.getElementById("jobid").value = Math.random().toString(36).substring(2, 15);

document.getElementById("drop_zone").addEventListener("dragover", function(event) {
  event.preventDefault();
}, false);

document.getElementById("drop_zone").addEventListener("drop", function(event) {
  event.preventDefault();
  if (event.dataTransfer.items) {
    for (var i = 0; i < event.dataTransfer.items.length; i++) {
      if (event.dataTransfer.items[i].kind === 'file') {
        var file = event.dataTransfer.items[i].getAsFile();
        uploadFile(file);
      }
    }
  }
}, false);


function downloadFile(name, strJobid){
var jobval = document.getElementById("jobid").value
document.getElementById("downloadbut").disabled = true;
document.getElementById("loading").style.display = "block";
name = name.trim();
var checkbox = document.getElementById("perpagecheck");
var perpagemsg = "yes";
var filenamestr =  document.getElementById("filenameid").value
if (checkbox.checked){
  perpagemsg = "yes";
}
else{
 perpagemsg = "no";
}


fetch('/extract_data/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({query: name, jobid: strJobid, perpage: perpagemsg, filename: filenamestr }) // replace with your actual data
})
.then(response => response.blob())
.then(blob => {
  // Create an object URL for the blob
  const url = window.URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = url;
  let fname = document.getElementById("filenameid").value;
  // the filename you want
  a.download = '_'+  fname.substring(0, 20)+'.xlsx'; // replace with your actual file name and extension
  document.getElementById("loading").style.display = "none";
  document.body.appendChild(a);
  a.click();
    document.getElementById("downloadbut").disabled = false;
  // cleanup
  window.URL.revokeObjectURL(url);
  document.body.removeChild(a);
   document.getElementById("upload_info").style.display = "none";
})
.catch((error) => {
 document.getElementById("loading").style.display = "none";
   console.error('Error:', error.message);
   document.getElementById("upload_info").innerHTML = '<p style="color: red;">Error'+error.message+' </p>';
});
}
function gotoqchat(){
window.location='qchat/?jobid='+document.getElementById("jobid").value;
}

function showDown(){
 document.getElementById("upload_info")
 jobname = document.getElementById("jobid").value;

  ilenameElem = document.getElementById("filenameid").value;
 data = {
  "filename": filenameElem,
  "job": jobname
};
 var docbuttons = document.getElementById("upload_info");
   docbuttons.style.display = "block";
   document.getElementById("downloadbut").disabled = false;

}

function uploadFile(file) {
  var formData = new FormData();

  // Get job id from input box
  var jobid = document.getElementById("jobid").value;

  formData.append("jobid", jobid);
  formData.append("file", file);

  // Show loading spinner
  document.getElementById("loading").style.display = "block";

  fetch('ingest/upload/', { // replace with your actual endpoint
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    // Hide loading spinner
    document.getElementById("loading").style.display = "none";
    document.getElementById("filenameid").value = file.name;
    showDown();
  })
  .catch(error => {
    // Hide loading spinner
    document.getElementById("loading").style.display = "none";

    console.error('Error:', error)
  });
}
</script>

</body>
</html>
